<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('assets/img/breadcrumb.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<ng-container *ngIf="products != null && products.length != 0">
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of products; let i = index">
                                    <td class="shoping__cart__item">
                                        <img src="{{ item.thumbnail }}" alt="" style="height: 50px;width: 50px;">
                                        <h5>{{ item.title }}</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{ item.price }} €
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input (change)="updateCart(item, $event)" type="text"
                                                    value="{{ item.quantity }}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        {{ item.total | number }}
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close" (click)="removeItemFromCart(item)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a routerLink="/products" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a (click)="emptyCart()" style="cursor: pointer;" class="primary-btn cart-btn cart-btn-right">
                            Empty Cart</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>{{ grandTotal | number }} €</span></li>
                            <li>Total <span>{{ grandTotal | number }} €</span></li>
                        </ul>
                        <a routerLink="/checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="products == null || products.length == 0">
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <H2>Cart is empty !!!</H2>
                <a routerLink="/products" class="primary-btn cart-btn">Go to the Shop</a>
            </div>
        </div>
    </section>
</ng-container>
<!-- Shoping Cart Section End -->