<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a routerLink="#"><img src="assets/img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a routerLink="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a routerLink="#"><i class="fa fa-shopping-bag"></i> <span>{{ totalItem }}</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>{{ grandTotal }} €</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="assets/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a routerLink="#">Spanis</a></li>
                <li><a routerLink="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a routerLink="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a routerLink="/">Home</a></li>
            <li><a routerLink="products">Shop</a></li>
            <li><a routerLink="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a routerLink="cart">Shoping Cart</a></li>
                    <li><a routerLink="/checkout">Check Out</a></li>
                    <li><a routerLink="/orders">Orders</a></li>
                </ul>
            </li>
            <li><a routerLink="./blog.html">Blog</a></li>
            <li><a routerLink="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a routerLink="#"><i class="fa fa-facebook"></i></a>
        <a routerLink="#"><i class="fa fa-twitter"></i></a>
        <a routerLink="#"><i class="fa fa-linkedin"></i></a>
        <a routerLink="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a routerLink="#"><i class="fa fa-facebook"></i></a>
                            <a routerLink="#"><i class="fa fa-twitter"></i></a>
                            <a routerLink="#"><i class="fa fa-linkedin"></i></a>
                            <a routerLink="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="assets/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a routerLink="#">Spanis</a></li>
                                <li><a routerLink="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a routerLink="#"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a routerLink="/"><img src="assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li class="active"><a routerLink="products">Shop</a></li>
                        <li><a routerLink="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a routerLink="cart">Shoping Cart</a></li>
                                <li><a routerLink="/checkout">Check Out</a></li>
                                <li><a routerLink="/orders">Orders</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="./blog.html">Blog</a></li>
                        <li><a routerLink="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a routerLink="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a routerLink="cart"><i class="fa fa-shopping-bag"></i> <span>{{ totalItem }}</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>{{ grandTotal | number }} €</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a routerLink="#">Fresh Meat</a></li>
                        <li><a routerLink="#">Vegetables</a></li>
                        <li><a routerLink="#">Fruit & Nut Gifts</a></li>
                        <li><a routerLink="#">Fresh Berries</a></li>
                        <li><a routerLink="#">Ocean Foods</a></li>
                        <li><a routerLink="#">Butter & Eggs</a></li>
                        <li><a routerLink="#">Fastfood</a></li>
                        <li><a routerLink="#">Fresh Onion</a></li>
                        <li><a routerLink="#">Papayaya & Crisps</a></li>
                        <li><a routerLink="#">Oatmeal</a></li>
                        <li><a routerLink="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

