<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('assets/img/breadcrumb.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> Have a coupon? <a routerLink="#">Click here</a> to enter your
                    code
                </h6>
            </div>
        </div>
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <ng-container>
                <form [formGroup]="checkoutForm" (ngSubmit)="submitHandler()">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input class="form-control" formControlName="firstName" name="firstName"
                                            id="firstName" type="text">
                                        <div *ngIf="firstName?.touched">
                                            <div *ngIf="firstName?.valid" style="color: green;">
                                                Looks good!
                                            </div>
                                            <div *ngIf="firstName?.invalid" style="color: red;">
                                                Please provide a correct firstname.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input class="form-control" formControlName="lastName" name="lastName"
                                            id="lastName" type="text">
                                        <div *ngIf="lastName?.touched">
                                            <div *ngIf="lastName?.valid" style="color: green;">
                                                Looks good!
                                            </div>
                                            <div *ngIf="lastName?.invalid" style="color: red;">
                                                Please provide a correct lastName.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input class="form-control" formControlName="street1" type="text"
                                    placeholder="Street Address">
                                <div *ngIf="street1?.touched">
                                    <div *ngIf="street1?.valid" style="color: green;">
                                        Looks good!
                                    </div>
                                    <div *ngIf="street1?.invalid" style="color: red;">
                                        Please provide a correct street1.
                                    </div>
                                </div>
                                <input class="form-control" formControlName="street2" type="text"
                                    placeholder="Apartment, suite, unite ect (optinal)">
                                <div *ngIf="street2?.touched">
                                    <div *ngIf="street2?.valid" style="color: green;">
                                        Looks good!
                                    </div>
                                    <div *ngIf="street2?.invalid" style="color: red;">
                                        Please provide a correct street2.
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input class="form-control" formControlName="city" name="city" id="city" type="text">
                                <div *ngIf="city?.touched">
                                    <div *ngIf="city?.valid" style="color: green;">
                                        Looks good!
                                    </div>
                                    <div *ngIf="city?.invalid" style="color: red;">
                                        Please provide a correct city.
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input class="form-control" formControlName="zip" name="zip" id="zip" type="text">
                                <div *ngIf="zip?.touched">
                                    <div *ngIf="zip?.valid" style="color: green;">
                                        Looks good!
                                    </div>
                                    <div *ngIf="zip?.invalid" style="color: red;">
                                        Please provide a correct zip.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input class="form-control" formControlName="phone" name="phone" id="phone"
                                            type="text">
                                        <div *ngIf="phone?.touched">
                                            <div *ngIf="phone?.valid" style="color: green;">
                                                Looks good!
                                            </div>
                                            <div *ngIf="phone?.invalid" style="color: red;">
                                                Please provide a correct phone.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input class="form-control" formControlName="email" name="email" id="email"
                                            type="text">
                                        <div *ngIf="email?.touched">
                                            <div *ngIf="email?.valid" style="color: green;">
                                                Looks good!
                                            </div>
                                            <div *ngIf="email?.invalid" style="color: red;">
                                                Please provide a correct email.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes</p>
                                <input class="form-control" formControlName="orderNote" type="text"
                                    placeholder="Notes about your order, e.g. special notes for delivery.">
                                <div *ngIf="orderNote?.touched">
                                    <div *ngIf="orderNote?.valid" style="color: green;">
                                        Looks good!
                                    </div>
                                    <div *ngIf="orderNote?.invalid" style="color: red;">
                                        Max length 255.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <ul *ngFor="let item of products">
                                    <li>({{ item.quantity }}){{ item.title }}<span>{{ item.total }} €</span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span>{{ grandTotal | number }} €</span>
                                </div>
                                <div class="checkout__order__total">Total <span>{{ grandTotal | number }} €</span></div>
                                <p>choose your Payment Option.</p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button *ngIf="checkoutForm.valid" type="submit" class="site-btn"><span *ngIf="loading"
                                        class="spinner-border spinner-border" role="status" aria-hidden="true"></span>
                                    PLACE ORDER</button>
                                <button disabled *ngIf="!checkoutForm.valid" type="submit"
                                    class="primary-btn cart-btn">PLACE
                                    ORDER</button>
                                <div *ngIf="success" class="alert alert-primary" role="alert">
                                    {{ message }}
                                </div>
                                <div *ngIf="failed" class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</section>
<!-- Checkout Section End -->