

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a routerLink="./index.html"><img src="assets/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a routerLink="#">About Us</a></li>
                            <li><a routerLink="#">About Our Shop</a></li>
                            <li><a routerLink="#">Secure Shopping</a></li>
                            <li><a routerLink="#">Delivery infomation</a></li>
                            <li><a routerLink="#">Privacy Policy</a></li>
                            <li><a routerLink="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a routerLink="#">Who We Are</a></li>
                            <li><a routerLink="#">Our Services</a></li>
                            <li><a routerLink="#">Projects</a></li>
                            <li><a routerLink="#">Contact</a></li>
                            <li><a routerLink="#">Innovation</a></li>
                            <li><a routerLink="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a routerLink="#"><i class="fa fa-facebook"></i></a>
                            <a routerLink="#"><i class="fa fa-instagram"></i></a>
                            <a routerLink="#"><i class="fa fa-twitter"></i></a>
                            <a routerLink="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a routerLink="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="assets/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->