<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="" style="background-image: url('assets/img/breadcrumb.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>DomosShop</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/">Home</a>
                        <span>Orders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Order Section Begin -->
<section class="order spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_cart"></span>
                    <h4>Total orders</h4>
                    <p>{{ orders.value.length }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_error-triangle"></span>
                    <h4 title="Cart Rejected + Canceled">Cart Rejected</h4>
                    <p title="Cart canceled ({{orderStats.nbrOrderCanceled}})">{{ orderStats.nbrOrderCanceled + orderStats.nbrOrderRejected }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_currency_alt"></span>
                    <h4>Receipts (last 30 days)</h4>
                    <p>{{ orderStats.receiptLast30Days }} €</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_currency"></span>
                    <h4>Receipts by hour</h4>
                    <p>{{ orderStats.receiptByHour }} €</p>
                </div>
            </div>
        </div>

        <br>

        <p>All your orders are listed here.</p>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                        <th scope="col">Client Note</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders.value; index as i">
                        <th scope="row">{{ order.id }}</th>
                        <td>{{ order.customerId }}</td>
                        <td title="{{ order.timestamp | date:'short':'UTC' }}">{{ order.timestamp | date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.grandTotal }} €</td>
                        <td>{{ order.orderNote }}</td>
                        <td *ngIf="order.status == 'PENDING'" class="shoping__cart__item__close">
                            <span class="icon_check" style="cursor: pointer;" (click)="confirmOrder(order)"></span>
                            <span class="icon_close" style="cursor: pointer;" (click)="cancelOrder(order)"></span>
                        </td>
                        <td *ngIf="order.status != 'PENDING'"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>
<!-- Order Section End -->